<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Password</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    
    
	<div class="row">
	    <div class="col-md-6">
	        <div class="card">
	            <div class="card-header">
	                Update password
	            </div>
	            <div class="card-body">
	                <form th:action="@{/user/updatePassword}" method="post">
	                	<div class="row form-group">
	                		<label class="col-sm-4">Password Lama:</label>
	                		<input class="col-sm-8 form-control input-sm" type="password" id="passwordLama" name="passwordLama" required/>
	                	</div>
	                	<div class="row form-group">
	                		<label class="col-sm-4">Password Baru:</label>
	                		<input class="col-sm-8 form-control input-sm" type="password" id="passwordBaru" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}"
	                		oninvalid="this.setCustomValidity('Form minimal berjumlah 8 dengan angka dan huruf')"  name="passwordBaru" required/>
	                	</div>
	                	<div class="row form-group">
	                		<label class="col-sm-4">Konfirmasi Password Baru:</label>
	                		<input class="col-sm-8 form-control input-sm" type="password" id="passwordBaru2" name="passwordBaru2" required/>
	                		<span id='message'></span>
	                	</div>
	                	<div>
	                		<button type="submit" id="btn-tambah" class="btn btn-primary">Simpan</button>
	                	</div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
	<br>
	
	<script>
	
	$('#passwordBaru, #passwordBaru2').on('keyup', function () {
		  if ($('#passwordBaru').val() == $('#passwordBaru2').val()) {
		    $('#message').html('Password Sama').css('color', 'green');
		    $('#btn-tambah').removeAttr("disabled");
		  } else 
		    $('#message').html('Password Tidak Sama').css('color', 'red');
		});
	
	$('#btn-tambah').click(function(){
		if ($('#passwordBaru').val() == $('#passwordBaru2').val()) {
		    $('#message').html('Matching').css('color', 'green');
		}	
	});
	</script>

</body>

</html>